* {
  box-sizing: border-box;
}
#root a {
  text-decoration: none;
}
body,
html {
  margin: 0;
  padding: 0;
}
.Pagination--root {
  margin: 20px 0;
}
.rdw-editor-wrapper .public-DraftEditorPlaceholder-root {
  padding: 10px 15px;
}
.rdw-editor-wrapper .DraftEditor-editorContainer .public-DraftEditor-content[contenteditable="true"] > div {
  min-height: 100px;
  padding: 10px 15px;
  border: 1px solid #d1d8dc;
  border-radius: 5px;
  transition: all 0.25s;
}
.rdw-editor-wrapper .DraftEditor-editorContainer .public-DraftEditor-content[contenteditable="true"] > div:focus {
  border-color: #1aa3ff;
}
.rdw-editor-wrapper .DraftEditor-editorContainer .public-DraftEditor-content .public-DraftStyleDefault-block {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}
